#Some of the software requirements our team needed 
#to complete our project are listed below 

attrs==26.1.0
certifi==2026.7.22
cffi==2.1.0
charset-normalizer==3.4.9
cirq==1.5.0
cirq-aqt==1.5.0
cirq-core==1.5.0
cirq-google==1.5.0
cirq-ionq==1.5.0
cirq-pasqal==1.5.0
cirq-web==1.5.0
contourpy==1.3.2
cryptography==49.0.0
cycler==0.12.1
Cython==3.2.9
deprecation==2.1.0
duet==0.2.9
exceptiongroup==1.3.1
fonttools==4.63.0
google-api-core==2.33.0
google-auth==2.56.2
googleapis-common-protos==1.75.0
grpcio==1.83.0
grpcio-status==1.71.2
h5py==3.16.0
idna==3.18
iniconfig==2.3.0
kiwisolver==1.5.0
matplotlib==3.10.9
mpmath==1.3.0
networkx==3.4.2
numpy==2.2.6
openfermion==1.8.1
openfermionpyscf==0.5
packaging==26.2
pandas==2.3.3
pillow==12.3.0
pluggy==1.6.0
proto-plus==1.28.2
protobuf==5.29.6
PubChemPy==1.0.5
pyasn1==0.6.4
pyasn1_modules==0.4.2
pycparser==3.0
Pygments==2.20.0
pyparsing==3.3.2
pyscf==2.14.0
pytest==9.1.1
python-dateutil==2.9.0.post0
pytz==2026.3.post1
requests==2.34.2
scipy==1.15.3
six==1.17.0
sortedcontainers==2.4.0
sympy==1.14.0
tomli==2.4.1
tqdm==4.70.0
typedunits==0.0.2
typing_extensions==4.16.0
tzdata==2026.3
urllib3==2.7.0
cirq
numpy
scipy
sympy
pandas
matplotlib
openfermion
openfermionpyscf
pyscf

